@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.13s;
}
body {
  overflow-x: hidden;
  background-color: #121417;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #ffffff05;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff1a;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ffffff2c;
}

::-webkit-scrollbar-track {
  background-color: #ffffff04;
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}
